*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: lawngreen;
}
.container{
    margin-top: 3rem;
}
button{
    font-size: 1.4rem;
    margin: 12px;
    width: 100px;
    cursor: pointer;
}
.msg{
    margin-top: 2rem;
    width: 35%;
   margin-left: 31rem;
}
h1{
    margin-top: 1rem;
    border: 2px solid grey;
    height: 2.5rem;
    color: brown;
}
img{
    height: 100px;
    width: 80px;
}
h2{
    margin-top: 1rem;
    color: red;
}